@page "/OrderPage"

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Заказ успешно оформлен!</h1>
        <p>Спасибо за ваш заказ. Мы свяжемся с вами в ближайшее время.</p>
        <a href="/" class="btn btn-primary">Вернуться на главную страницу</a>
    </div>
</body>
</html>
